package templates;

templ Wrapper() {
	<head>
	    <title>Trans - latte</title>
	    <script src="/assets/js/htmx.min.js"/>
	    <link href="/assets/css/styles.css" rel="stylesheet" />
	</head>
	<body class="bg-violet-300">
	    <h1 class="text-white text-3xl">Trans - Latte</h1>
	    <div>
		    {children...}
	    </div>
	</body>
}
